@using BOL;

@{
    ViewData["Title"] = "Details Page";
}

<div>
    <h2>Product Details</h2>
    @{
        BOL.Product theProduct=ViewData["product"] as BOL.Product;
        <p> Id: @theProduct.ProductId</p>
        <p> Title:  <b> <u></u>@theProduct.Title</b></p>
        <p> Description: @theProduct.Description</p>
        <p> Unit Price: @theProduct.UnitPrice</p>
        <p> Stock Available: @theProduct.Balance</p>

    }
</div>